<div class="row">
  <div class="col-sm-6">
    <img src="{{ (user | async)?.photoUrl }} " class="img-fluid">
  </div>
  <div class="col-sm-6">
    <dl class="row">
      <dt class="col-3">Name</dt>
      <dd class="col-9">{{ (user | async)?.name }}</dd>

      <dt class="col-3">Age</dt>
      <dd class="col-9">{{ (user | async)?.age }}</dd>

      <dt class="col-3">Info</dt>
      <dd class="col-9">{{ (user | async)?.info }}</dd>
    </dl>
  </div>
</div>
<div class="row mt-2">
  <div class="col-12">
      <button type="button" class="btn btn-success mr-1" routerLink="edit">Edit</button>
      <button type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
  </div>
</div>